* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.setores {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.setor {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    height: 400px;
    overflow-y: auto;
}

.setor h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 5px;
    color: #333;
}

li:nth-child(odd) {
    background-color: #e0e0e0;
}
